<head>
    <title>Switch Poker</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1"> <!-- Optimizations for mobile devices -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="icon" href="assets/imgs/logo.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>

<body>
    <navbar>
        <div class="row topNav">
            <div class="col-1">
                <a class="navBtn" href="#">☰</a>
            </div>
            <div class="col-10 d-flex justify-content-center">
                <h4 class="navText pt-3">Switch Poker</h4>
            </div>
            <div class="col-1">
                <a href="#" class="navBtn float-right">></a>
            </div>
        </div>
    </navbar>

    <section class="gameScreen pt-2">
        <div class="container-fluid">
            <div class="playerDetail">
                    <div class="row">
                            <div class="col-2">
                                <img src="assets/imgs/noProf.png" class="profImg">
                            </div>
                            <div class="col-4 pr-0 pt-1 text-white">
                                <h6>Player 1 <br> <span  style="color: darkgrey"> 6,000 pt. </span></h6>
                            </div>
                            <div class="col-3 pl-0 pr-0 pt-1">
                                <span class="roundDsp">
                                    Round 1
                                </span>
                            </div>
                            <div class="col-2">
                                 <a href="scorecard.html"><img class="pl-1" terget="_blank" src="assets/imgs/score.png"></a>
                            </div>
                        </div>
            </div>
            <div class="row pt-2 pl-2">
                <div class="col-2 cards">
                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                </div>
                <div class="col-2 cards">
                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                </div>
                <div class="col-2 cards">
                    <img src="assets/imgs/cards/2C.png"class="cardImg" >
                </div>
                <div class="col-2 cards">
                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                </div>
                <div class="col-2 cards">
                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                </div>
            </div>
            <div class="row pt-1 pl-2">
                    <div class="col-2 cards">
                        <img src="assets/imgs/cards/2C.png" class="cardImg">
                    </div>
                    <div class="col-2 cards">
                        <img src="assets/imgs/cards/2C.png" class="cardImg">
                    </div>
                    <div class="col-2 cards">
                        <img src="assets/imgs/cards/2C.png"class="cardImg" >
                    </div>
                    <div class="col-2 cards">
                        <img src="assets/imgs/cards/2C.png" class="cardImg">
                    </div>
                    <div class="col-2 cards">
                        <img src="assets/imgs/cards/2C.png" class="cardImg">
                    </div>
                </div>
                <div class="row pt-1 pl-2">
                        <div class="col-2 cards">
                            <img src="assets/imgs/cards/2C.png" class="cardImg">
                        </div>
                        <div class="col-2 cards">
                            <img src="assets/imgs/cards/2C.png" class="cardImg">
                        </div>
                        <div class="col-2 cards">
                            <img src="assets/imgs/cards/2C.png"class="cardImg" >
                        </div>
                        <div class="col-2 cards">
                            <img src="assets/imgs/cards/2C.png" class="cardImg">
                        </div>
                        <div class="col-2 cards">
                            <img src="assets/imgs/cards/2C.png" class="cardImg">
                        </div>
                    </div>
                    <div class="row pt-1 pl-2">
                            <div class="col-2 cards">
                                <img src="assets/imgs/cards/2C.png" class="cardImg">
                            </div>
                            <div class="col-2 cards">
                                <img src="assets/imgs/cards/2C.png" class="cardImg">
                            </div>
                            <div class="col-2 cards">
                                <img src="assets/imgs/cards/2C.png"class="cardImg" >
                            </div>
                            <div class="col-2 cards">
                                <img src="assets/imgs/cards/2C.png" class="cardImg">
                            </div>
                            <div class="col-2 cards">
                                <img src="assets/imgs/cards/2C.png" class="cardImg">
                            </div>
                        </div>
                        <div class="row pt-1 pl-2">
                                <div class="col-2 cards">
                                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                                </div>
                                <div class="col-2 cards">
                                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                                </div>
                                <div class="col-2 cards">
                                    <img src="assets/imgs/cards/2C.png"class="cardImg" >
                                </div>
                                <div class="col-2 cards">
                                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                                </div>
                                <div class="col-2 cards">
                                    <img src="assets/imgs/cards/2C.png" class="cardImg">
                                </div>
                            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row pl-2">
                    <div class="col-2 playerInfo">
                            <img src="assets/imgs/noProf.png" class="p-1 profImg">
                            <span class="profText">player1</span>
                            <span class="score">5</span>
                        </div>
                <div class="col-8" >
                    <span id="footcol">
                    <span class="col-4 d-flex">
                        <img src="assets/imgs/cards/10S.png" class="cardImg">
                        <img src="assets/imgs/cards/10S.png" class="cardImg">
                    </span>
                    <span class="col-6 pl-4 justify-content-center">
                        <img src="assets/imgs/clock.png">
                        <span style="font-size: 15px">1:00
                        </span>
                    </span>
                </span>
                </div>
                <div class="col-2 playerInfo float-right">
                        <img src="assets/imgs/noProf.png" class="p-1 profImg">
                        <span class="profText">player2</span>
                        <span class="score">7</span>
                    </div>
            </div>
            <div class="footerPanel d-flex">
                    <div class="col-3" >
                            <a class="footBtn" href="#">💬</a>
                    </div>
                    <div class="col-3" >
                            <a class="footBtn" href="#">🔄</a>
                    </div>
                    <div class="col-3" >
                            <a class="footBtn" href="#">🔊</a>
                    </div>
                    <div class="col-3" >
                            <a class="footBtn" href="#">🏆</a>
                    </div>
            </div>
        </div>
    </footer>


    <!-- Jquery first, then JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>