body{
    width: auto;
    overflow: hidden;
}
.topNav{
    padding: 1% 1%;
    color: #ffffff;
    border-bottom: 1px solid #000;
}

.navBtn{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 24px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navBtn:hover{
    color:#ffffff;
    text-decoration: none;
}
.playerDetail{
    border-bottom:1px solid #000;
}

.roundDsp{
    border: 1px solid black;
    padding: 9% 15%;
    border-radius: 20%;
    color: #ffffff;
}
.profImg{border: 1px solid #ffffff;
    border-radius: 50%;
    height: 35px;
    width: 35px;}

.cards  {
    padding-right: 10px !important;
    padding-left: 10px !important;
    flex: 1 0 16.666667% !important;
    max-width: 19.266667% !important;
}
.cardImg{
    width: 100%;
}

.playerInfo{
    text-align: center;
    color: #ffffff;
}
.score{
    border: 1px solid #ffffff;
    padding: 3% 39%;
}
.timer{
    font-size: 18px;
}

footer{
    position: absolute;
    bottom: 2;
    height: 18%;
}
.footerPanel{
    position: absolute;
    left: 0%;
    bottom: 0%;
    border-top: 2px solid black;
    width: 100%;
}
.footBtn{
    display: inline-block;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1% 0%;
    font-size: 19px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.profText{
    font-size: 12px;
}
#footCol{
    position: relative;
    left: 23%;
}